*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
header{
    background: #5E7C60;
    color:#ffffff
}
a{
    text-decoration: none;
    color:#ffffff;
}