*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #5E7C60;
    color:#ffffff;
}

.logo{
    margin-right: auto;
    margin-left: 5px;
}
.logo1{
    margin-left :25px;
}

nav ul{
    padding:38px;
    display: flex;
}

li{
    list-style-type: none;
    padding: 15px;
}

a{
    text-decoration: none;
    color:#ffffff;
}