*, body, html{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #E7E9D3;

}

.container{
    
    border: 2px solid black;
    background-color:#ffffff;

}
